# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


/built_doc
/hotdoc-private*
/.hotdoc.d
/*.stamp
Debug
Release
ipch
*.user
*.sdf
*.suo
*.opensdf
vs/2010/libs
bin
gen
libs
obj
.classpath
.project
.settings
.libs
.cproject
gst-build
build
gst-android-build
project.properties
gst_sdk
.DS_Store
xcuserdata
/plugins-introspection/cache/
/hotdoc_env/
*.html
*~
